body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Charis SIL', serif;
}

a,
p {
    color: rgb(0, 0, 0);
    /* display: flex; */
}

.container {
    border-radius: 10px;
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    position: absolute;
    display: contents;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
}

.task-title {
    display: flex;
}

.task-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
}

.task-complete-icon {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    color: hsl(114, 54%, 28%);
    /* height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%; */
}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: hsl(1, 99%, 38%);
    font-size: 1.7rem;
    line-height: 0;
}

.delete-link:hover {
    color: hsl(1, 99%, 48%);
}

#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#add-link {
    margin-right: 0.2rem;
    color: hsl(110, 54%, 25%);
    text-decoration: none;
    font-size: 37px;
    display: flex;
}

#add-link:hover {
    color: hsl(110, 75%, 37%);
}

#id_complete {
    display: flex;
    margin-left: 5.5rem;
    margin-top: -1.2rem;
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #EB796F;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

label {
    padding-top: 10px !important;
    display: block;
}

.button {
    border: 1px solid #EB796F;
    background-color: #fafafa;
    color: #EB796F;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card-body {
    padding: 20px;
}